.DS_Store
node_modules

# local env files
.env.local
.env.*.local

ui-client/node_modules
ui-client/.DS_Store
ui-client/dist

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
